a{
    color: black;
    text-decoration: none;
}
a:visited { color:transparent !important; }

.carousel .item img {
    max-height: 200px !important; 
    min-width: auto;
  }

#carouselPics{
    margin-top: 70px;
}


html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    margin-bottom: 30px;
}

h1{margin-top: 10px; margin-bottom: 30px;}