{% extends 'base.html' %}
{% block title %}Formulaire adoption{% endblock %}

{% block content %}
{% load static %}

<h2>Formulaire de demande d'adoption</h2>

<form action="" method="post" class="form">
    <label for="name" class="form-label">Email address</label> <!-- label -->
    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"> <!-- field -->
    <div id="nameHelp" class="form-text">An alias is fine.</div> <!-- help text -->
    <div class="valid-feedback">Looks good!</div> <!-- validation text -->
</form>

{% endblock %}