{% extends 'base.html' %}
{% block title %}Nos chats{% endblock %}

{% block content %}
{% load static %}

<h2>Chats disponibles</h2>

<p>Liste des chats disponibles</p>

{% for c in list_chats %}

<div class="card" style="width: 18rem;">
    <img src="{% static 'img/Chats/' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{c.nom}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Âge : {{c.age}}</li>
      <li class="list-group-item">Couleur : {{c.couleur}}</li>
      <li class="list-group-item">Activité préférée : {{c.activitePref}}</li>
    </ul>
  </div>


{% endfor %} 

{% endblock %}
