{% extends 'base.html' %}
{% block title %}Nos chats{% endblock %}

{% block content %}
{% load static %}

<h2>Chats disponibles</h2>

<p>Liste des chats disponibles</p>


{% for c in list_chats %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
      <img src="{{c.photo.url}}" class="card-img-top" alt="...">
      <h5 class="card-title">{{c.nom}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Âge : {{c.age}}</li>
        <li class="list-group-item">Couleur : {{c.couleur}}</li>
        <li class="list-group-item">Activité préférée : {{c.activitePref}}</li>
      </ul>
      <a href="{% url 'AfficherChat' c.id %}" class="btn btn-primary">Afficher</a>
      <a href="{% url 'ModifierChat' c.id %}" class="btn btn-primary">Modifier</a>
      <a href="{% url 'ChatEstAdopted' c.id %}" class="btn btn-primary">Adoption</a>
  </div>
</div>
{% endfor %} 

{% endblock %}
